.btn {
    @apply font-medium py-2 px-4 rounded-lg;
}

@property --purple {
    syntax: '<color>';
    inherits: false;
    initial-value: #673366;
}

.btn-fontys {
    @apply text-white;
    background: radial-gradient(
            circle at left bottom,
            var(--purple) 0%,
            #673366 80%
    );
    
    transition: --purple 0.2s ease;
}

.btn-fontys:hover {
    --purple: #e2017d;
}

.btn-blue {
    @apply bg-blue-500 text-white;
}
.btn-blue:hover {
    @apply bg-blue-700;
}

.btn-red {
    @apply bg-red-500 text-white;
}
.btn-red:hover {
    @apply bg-red-700;
}

.btn-green {
    @apply text-white;
    background: #46ac4b;
}
.btn-green:hover {
    background: #329b38;
}

.bg-fontys {
    background: #673366;
}