spring.application.name=DocumentAPI
spring.datasource.url=YOUR_DATABASE_URL
spring.datasource.username=YOUR_DATABASE_USERNAME
spring.datasource.password=YOUR_DATABASE_PASSWORD
jwt.secret=YOUR_JWT_SECRET
jwt.expiration=YOUR_JWT_EXPIRATION
cors.origin=YOUR_FRONTEND_URL
server.port=8080